<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  <script src="https://kit.fontawesome.com/0da8abe5cb.js" crossorigin="anonymous"></script>
  <title>MyToDoList</title>
</head>
<body class="moving-color-bg">
  <!-- Bootstrap navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="/">MyToDoList</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Daily tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/work">Work tasks</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
